In [29]:
import pandas as pd

In [30]:
data= pd.read_csv('heart.csv')

In [31]:
data.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [32]:
data_dup= data.duplicated().any()

In [33]:
data_dup

True

In [34]:
data = data.drop_duplicates()

In [35]:
data_dup = data.duplicated().any()

In [36]:
data_dup

False

In [37]:
cate_val = []
cont_val = []
for column in data.columns:
    if data[column].nunique()<=10:
        cate_val.append(column)
    else:
        cont_val.append(column)

In [38]:
cate_val

['sex', 'cp', 'fbs', 'restecg', 'exng', 'slp', 'caa', 'thall', 'output']

In [39]:
cont_val

['age', 'trtbps', 'chol', 'thalachh', 'oldpeak']

In [27]:
cate_val.remove('sex')
cate_val.remove('output')
data = pd.get_dummies(data,columns=cate_val,drop_first=True)

ValueError: list.remove(x): x not in list